<section class="converter-container">
    <div class="row">
        <div class="col-md-4 offset-md-4" style="background-color: darkcyan;">
            <h3>{{converterType}} Converter</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4" style="background-color: darkcyan;">
            <div class="btn-group" style="margin-bottom: 10px;">
                <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" placeholder="choose">
                        <!-- {{ currentConverter? currentConverter :'Choose' }} -->
                        {{currentConverter}}
                    </button>
                    <div class="dropdown-menu">
                        <h2 class="dropdown-header">Converters</h2>
                        <button class="dropdown-item" (click)="onChange1($event.target.value)"
                            *ngFor="let item of convertMapKeys" [value]=item>
                            {{ item }}
                        </button>
                        <!-- [value]=item can be removed  (click)="onChange1($event.target.value) [value]=item" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4" style="background-color:darkgray;">
            <form [formGroup]="convertForm" (ngSubmit)="convert()" class="form">
                <div class="form-group">
                    <div class="btn-group" style="margin-top: 10px;">
                        <div class="btn-group dropleft" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ fromSubUnit }}
                            </button>
                            <div class="dropdown-menu">
                                <h2 class="dropdown-header">From unit</h2>
                                <button class="dropdown-item" (click)="onChange2($event.target.value+'a')"
                                    *ngFor="let item of convertMap.get(currentConverter)" [value]=item>
                                    {{ item }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input  type="text" class="form-control" formControlName="binaryNumber" id="binaryNumber"
                        name="binaryNumber" aria-describedby="numberHelp" placeholder="Enter a binary number here..">
                    {{fromSubUnit!='Select Unit' && toSubUnit!='Select Unit'?convert():gibber}}
                    <small id="numberHelp" class="form-text text-muted">Number should only contain 0s and 1s</small>
                </div>

                <!-- disan=ble input fields until selection happens -->
                <!-- <i class="fas fa-arrows-alt-v"></i> -->
                <div class="form-group">
                    <button type="button" class="btn btn-secondary px-3 float-right" (click)="toggleFunction()">
                        <img src="../../assets/elevator-2x.png">
                    </button>
                </div>

                <div class="form-group">
                    <div class="btn-group" style="margin-top: 50px;">
                        <div class="btn-group dropleft" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ toSubUnit }}
                            </button>
                            <div class="dropdown-menu">
                                <h2 class="dropdown-header">To unit</h2>
                                <button class="dropdown-item" (click)="onChange2($event.target.value+'b')"
                                    *ngFor="let item of convertMap.get(currentConverter)" [value]=item>
                                    {{ item }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="cursor:not-allowed;" formControlName="decimalNumber"
                        name="decimalNumber" id="decimalNumber" placeholder="Output decimal Number" readonly="readonly">
                </div>

                <!-- <button type="submit" class="btn btn-primary btn-outline-light float-right"
                    [disabled]="convertForm.invalid">Convert</button> -->
            </form>
        </div>
    </div>
</section>